<!DOCTYPE html>
<html xmlns:th = "https://thymeleaf.org">
    <head>
    </head>
    <body>
        <a href="./menu/login.html" th:href="@{/menu/login}">Log in</a>
        <a href="./menu/logout.html" th:href="@{/menu/logout}">Log out</a>
        <a href="./menu/join.html" th:href="@{/menu/join}">Join</a>

        <a href="./menu/notice/list.html" th:href="@{/menu/notice/list}">List</a>
        <a href="./menu/notice/edit.html" th:href="@{/menu/notice/edit}">Edit</a>
        <a href="./menu/notice/delete.html" th:href="@{/menu/notice/delete}">Delete</a>
        <a href="./menu/notice/view.html" th:href="@{/menu/notice/view}">View</a>
    </body>
</html>